
	  h1 {
	  color: rgb(253,254,254);
	  }
	  #title-info {
	  background-color: black;
	  text-align: center;
	  }
	  .ville {
	  background-color: gray; 
	  }
	  .info {
	  background-color:rgb(234,237,237);
	  }
	  .container {
	  display:flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	  }
	  .container div {
	  width: 200px;
	  margin: 20px;
	  }
	  #image1 {
	  position: relative;
	  bottom: 70px;
	  left: 90px;
	  }
	  
	  #image2 {
	  position: relative;
	  bottom: 70px;
	  left: 90px;
	  }
	  
	  #image3 {
	  position: relative;
	  bottom: 70px;
	  left: 90px;
	  }
	  #Paris{ flex-grow:1;}
	  #Lyon{ flex-grow:1;}
	  #Nancy{ flex-grow:2;}
	 